body {
    background-color: #9ec7de;
}


/*Div*/
div {
    width: 400px;
    /*边框内距*/
    padding: 20px; 
    /*和页面顶端的距离*/
    margin: 50px auto;
    border-radius: 40px;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px #1a93c6;
    position: relative;
}

h1 {
    color: #12c2e9;
    text-align: center;
    font-size: 50px;
}

p {
    display: block;
    margin-bottom: 10px;
    
}

.input {
   
    width: 80%;
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 8px;
    border: 2px solid rgb(20, 167, 54);
    font-size: 16px;
    border-radius: 20px;/*弄成圆角*/
}

/* 按钮 */
.button{
    
    border-radius: 20px;/*弄成圆角*/
    background-color: #b5b2d5;
    /*字体颜色*/
    color: #ffffff;
    border: none;
    padding: 10px ;
    font-size: 20px;
    margin-left: 20px;
    
}


.container button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* 按钮样式 */
  }
/* 鼠标悬停效果 */
.button:hover {
    background-color: #45a049;
}
.back:hover{
    background-color: #1a93c6;
}
